html {
    scroll-behavior: smooth;
}
body {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.hidden-vertical{
    opacity: 0;
    filter: blur(4px);
    transform: translateY(-100%);
    transition: all 1s;
}
.show-vertical{
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
.hidden-right{
    opacity: 0;
    filter: blur(4px);
    transform: translateX(100%);
    transition: all 1s;
}
.show-right{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
.hidden-left{
    opacity: 0;
    filter: blur(4px);
    transform: translateX(-100%);
    transition: all 1s;
}
.show-left{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}
